# OS Specifics
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
backup/

# Node / Frontend
node_modules/
dist/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Rust / wordd
target/
**/*.rs.bk

# Helm 
helm/charts/
helm/secrets.yaml

# IDEs
.vscode/
.idea/
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace
