# Global settings shared across all microservices
global:
  domain: arkham.fazigu.org
  # The single port for all traffic (Frontend, API, WS)
  externalPort: 80
  registry: localhost:5000
  namespace: wordwank
  imageTag: latest
  imagePullPolicy: Always
  maxPlayers: 13
  randomLetterScoreMode: "true"
  kofiId: "wordwank"
  kofiEnabled: false
  paypalEnabled: false
  paypalEmail: "quinnfazigu@gmail.com"



# Centralized Ingress configuration
ingress:
  enabled: true
  host: arkham.fazigu.org
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"

# Subchart overrides
frontend:
  enabled: true
  service:
    type: ClusterIP
    port: 80

wordd:
  enabled: true
  service:
    type: ClusterIP
    port: 2345


backend:
  enabled: true
  image:
    tag: "latest"
  service:
    port: 3000
  database:
    url: "dbi:Pg:dbname=wordwank;host=postgresql"
    user: "wordwank_backend"
    pass: "PLACEHOLDER_SEE_SECRETS_YAML"

# PostgreSQL dependency configuration
postgresql:
  enabled: true
  image:
    tag: "latest"
  auth:
    database: "wordwank"
    username: "wordwank_backend"
#   password: "PLACEHOLDER_SEE_SECRETS_YAML"
#   postgresPassword: "PLACEHOLDER_SEE_SECRETS_YAML"
  primary:
    persistence:
      enabled: true
      storageClass: standard
      size: 10Gi
